body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Menu */

.Menu{
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 0;
  background-image: linear-gradient(#FFD700,#228B22);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  border-radius: 3px;

}
 
.Menu ul {
  display: flex;
  justify-content: center;
}

 .Menu ul li{
   list-style: none;
 }

.Menu ul a, .navbar  {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin: 0 10px;
}

.Menu p {
  color: #fff;
}
  
  
  /* Inicio */

.product-f-image {
  position: relative;
}
.product-hover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;overflow: hidden;border: 1px solid #ddd;
}
.product-hover:after {
background: none repeat scroll 0 0 #000;
content: "";
height: 100%;
left: -100%;
opacity: 0.6;
position: absolute;
top: 0;
width: 100%;transition: .4s;
}
.product-hover a {
  background: none repeat scroll 0 0 #FFA500;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 16px;
  left: 10%;
  margin: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #FFA500;
  width: 80%;z-index: 99;transition: .4s;
}
.product-hover a:hover {
background: #000;
text-decoration: none;border-color: #444;
}
.product-carousel-price ins {
color: #FFA500;
font-weight: 700;
margin-right: 5px;
text-decoration: none;
}
.product-hover a i.fa {
  margin-right: 5px;
}
.product-hover a.add-to-cart-link {top: -25%;}
.product-hover a.view-details-link { bottom: -25%;}
.single-product h2 {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 15px;
}

/* imagens de produtos recentes */


.Celular{

  background-image: linear-gradient(#fff,);
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
    font-family: Montserrat, sans-serif;
    margin: 15px ;
    padding: 50px 50px;
    display: inline-block;  

}

.Celular input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
}


.Lnovo{
  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  
}

.Lnovo input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
}

.TV{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  

}

.TV input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
  
}

.MG8{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 50px 50px;
  display: inline-block;  

}
.MG8 input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
}






.promo-area {
  background: none repeat scroll 0 0;
  background-image: linear-gradient(#228B22,#FFD700);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  color: #fff;
  padding: 77px 0 200px;
  text-align: center;
}

.brands-area {
  background: none repeat scroll 0 0  #D3D3D3;
  color: #fff;
  padding: 0px 0 200px;
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
}

.promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #fff}
.single-promo {
    border: 1px solid   #D3D3D3;
    border: 1px solid ;
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
}
.single-promo i {
  font-size: 50px;
}

.single-promo:hover {color: black;background:  #EEDD82; border-color: #222}
.section-title {
  font-family: "Raleway",sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
}


.Logo{
  background: #00BFFF;  padding: 50px 50px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  border-radius: 5px;
}


/* Lista de produtos */

.title-1{
  text-align: center;
}

.Xiami{
  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 50px 50px;
  display: inline-block; 
}

.Xiami input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
  
}
.title-2{
  text-align: center;
 
}

.POS{
  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 50px 50px;
  display: inline-block; 
}

.POS input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
}

.Gamer{
  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block
}
.Gamer input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
}
.DELL{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block

}

.DELL input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
  
}
.title-1{
  text-align: center;
  background-image: linear-gradient(#228B22,#FFD700);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
}

.title-2{
  text-align: center;
  background-image: linear-gradient(#228B22,#FFD700);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
}

.title-3{
  text-align: center;
  background-image: linear-gradient(#228B22,#FFD700);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
}


.LG{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  


}

.LG input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
  
}

.TOSH{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  

}

.TOSH input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
  
}

.PHILCO{

  background-image: linear-gradient(#fff,);
  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.342);
  font-family: Montserrat, sans-serif;
  margin: 20px ;
  padding: 50px 50px;
  display: inline-block;  


}

.PHILCO input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
border-color: black;  
}
 /* formulario */

.Corpo-F{
  text-align: center;
  /* background-image: linear-gradient(#00BFFF, #9932CC); */
}


.Nome{
  font-family: Montserrat, sans-serif;
  margin: 0px ;
  padding: 40px;
  display: inline-block;

 }

 .Nome input{
  border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 550px;
}

.Sobrenome{
  font-family: Montserrat, sans-serif;
  margin: 0px ;
  padding: 0px;
  display: inline-block;
 }



   .E-mail{
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
   }

   .E-mail input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 550px;
   }

   .CPF{
    font-family: Montserrat, sans-serif;
    margin: 15px ;
    padding: 0px;
    display: inline-block;
  }

  .CPF input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 200px;
   }

   .Cep{
    font-family: Montserrat, sans-serif;
    margin: 15px ;
    padding: 0px;
    display: inline-block;
  }

  .Cep input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 200px;
    display: inline-block;
   }

   .EST{
    font-family: Montserrat, sans-serif;
    margin: 15px ;
    padding: 0px;
    display: inline-block;
  }

   .EST input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 200px;
   }


   .Cidade{
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
   }

   .Cidade input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 550px;
   }

 
   .Bairro{
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
   }

   .Bairro input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 550px;
   }

   .Rua{
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
   }


   .Rua input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 550px;
   }

   .button{
    font-family: Montserrat, sans-serif;
    margin: 0px;
    padding: 0px;
   }

   .button input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 150px;
   }

  /* Pagamento */

 .Nome-C{
  font-family: Montserrat, sans-serif;
    margin: 15px ;
    padding: 0px;
    display: inline-block;
  }
 
  .Nome-C input{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 550px;
   }

 .pagamento{
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 0px;

 }

 .pagamento input{
  border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 35px;
    width: 550px;
 }

 .numero-C {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 0px;
 }

 .numero-C input{
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 35px;
  width: 550px;

 }

 .data-E{
  display: inline-block;
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 0px;
 }

 .data-E input {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 35px;
  width: 550px;
 }

 .cvv{
  display: inline-block;
  font-family: Montserrat, sans-serif;
  margin: 15px ;
  padding: 0px;
 }

 .cvv input{
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 35px;
  width: 550px;
 }

  /* Mensagem */

  .msg{
    text-align: center;
  }

  .msg input{
    border-radius: 5px;
  margin: 5px;
  padding: 5px;
  height: 35px;
  width: 150px;
  }

/* footer */
.site-footer
{
  background-image: linear-gradient(#FFD700,#228B22); 
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
}
.site-footer hr
{
  border-top-color:black;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:black;
}
.site-footer a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color: black
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#fff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
 
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
}

 .msg input{
  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
}
.button input{

  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
}

.Final input{

  background-image: linear-gradient(#228B22,#FFD700);
  border-radius: 3px;
  width: 155px;
  height: 40px;
  border-color: black;  
}




